{% macro event( tag, title, url, start_date, end_date, location ) %}
  <{{ tag }} class="event">
    <a class="event__title" href="{{ url }}">{{ title }}</a>
    {% set dates %}{{ start_date }}{% if end_date %}|{{ end_date }}{% endif %}{% endset %}
    <b class="event__timing">{% DateRange dates, "time" %}</b>
    <b class="event__location">{{ location }}</b>
  </{{tag}}>
{% endmacro %}

{% macro label( text, name ) %}
  <label class="question__label" for="field-{{ name }}">{{ text }}</label>
{% endmacro %}

{% macro field( type, name, data ) %}
  <input class="question__field"
         type="{{ type }}"
         name="{{ name }}"
         id="field-{{ name }}"
         {% if data.required %}required aria-required="true"{% endif %}
         {% if data.placeholder %}placeholder="{{ data.placeholder }}"{% endif %}
         {% if data.pattern %}pattern="{{ data.pattern }}"{% endif %}
         {% if data.description %}aria-describedby="description-{{ name }}"{% endif %}
         {% if data.autocomplete %}autocomplete="{{ data.autocomplete }}"{% endif %}
         {% if data.autocorrect %}autocorrect="{{ data.autocorrect }}"{% endif %}
         {% if data.spellcheck %}spellcheck="{{ data.spellcheck }}"{% endif %}
         {% if data.autocapitalize %}autocapitalize="{{ data.autocapitalize }}"{% endif %}
         >
  {% if data.description %}
    <em class="question__description" id="description-{{ name }}">{{ data.description }}</em>
  {% endif %}
{% endmacro %}

{% macro confirm( text, name, data ) %}
  <label for="field-{{ name }}" class="question--confirm">
    <input class="question__field question__field--confirm"
          type="checkbox"
          name="{{ name }}"
          id="field-{{ name }}"
          value="1"
          {% if data.required %}required aria-required="true"{% endif %}
          >
    {{ text }}
  </label>
{% endmacro %}

{% macro select( name, options, data ) %}
  <select id="field-{{ name }}"
          name="{{ name }}"
          {% if data.required %}required aria-required="true"{% endif %}
          {% if data.multiple %}multiple{% endif %}
          >
    {% for option in options %}
      <option>{{ option }}</option>
    {% endfor %}
    {% for option in data.options %}
      <option>{{ option }}</option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro textarea( name, data ) %}
  <textarea id="field-{{ name }}"
            name="{{ name }}"
            rows="10"
            {% if data.required %}required aria-required="true"{% endif %}
            {% if data.autocorrect %}autocorrect="{{ data.autocorrect }}"{% endif %}
            {% if data.spellcheck %}spellcheck="{{ data.spellcheck }}"{% endif %}
            {% if data.autocapitalize %}autocapitalize="{{ data.autocapitalize }}"{% endif %}
            ></textarea>
{% endmacro %}

{% macro button( text ) %}
  <button type="submit">{{ text }}</button>
{% endmacro %}
