<p>
  <small>The Web We Want is <a href="{{ '/about' | url }}">run by a bunch of awesome people</a> who ❤️ the web!</small>
  <small id="copyright">This site’s contents are available under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. It’s source code is freely shared under the <a href="https://raw.githubusercontent.com/aarongustafson/webwewant.fyi/master/LICENSE">MIT license</a>.</small>
  <small>Edits welcome on <a href="{{ pkg.repository.url }}">GitHub</a>.</small>
</p>