<title>{{ title or renderData.title or metadata.title }} ⇥ {{ pkg.title }}</title>
<meta property="og:title" content="{{ title or renderData.title or metadata.title }}">
<meta name="author" content="{{ pkg.author.name }}">
<meta property="og:locale" content="en_US">
<meta name="description" content="{{ description or pkg.description }}">
<meta property="og:description" content="{{ description or pkg.description }}">
<link rel="canonical" href="{{ pkg.homepage }}{{ page.url }}">
<meta property="og:url" content="{{ pkg.homepage }}{{ page.url }}">
<meta property="og:site_name" content="{{ pkg.title }}">
<meta property="og:image" content="{{ pkg.homepage }}/static/img/og-icon.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@webwewantfyi">
<meta name="twitter:creator" content="@webwewantfyi">
<script type="application/ld+json">{
  "name": "{{ title }}",
  "description":"{{ description or pkg.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ pkg.author.name }}"
  },
  "@type": "WebSite",
  "url": "{{ pkg.homepage }}",
  "image": "{{ pkg.homepage }}/static/img/og-icon.png",
  "headline": "{{ title or renderData.title or metadata.title }}",
  "publisher": {
    "@type": "Organization",
    "logo":{
      "@type": "ImageObject",
      "url": "{{ pkg.homepage }}/static/img/og-icon.png"
    },
    "name": "{{ pkg.title }}"
  },
  "sameAs":[
    "https://twitter.com/webwewantfyi",
    "https://github.com/webwewant"
  ],
  "@context": "http://schema.org"
}</script>
