{% from "macros.njk" import label, field, confirm, select, textarea, button %}

<section id="submit">
  <h2>We’re listening…</h2>
  <p>We’d love to know what tools you want to add to your web dev toolbox. We’ll evaluate all submissions for inclusion on this site and you may get chosen to present your ask at a future event.</p>
  <p>At each event, we’ll provide enough time for a handful of people to present their "wants" to the audience. If chosen, you’ll have about 5 minutes to make your pitch to the judges and the audience. You will be on stage and can put together a pitch deck if you want or you can freestyle it. That’s up to you.</p>

  <form name="problems" method="POST" data-netlify="true" action="/submitted/" netlify-honeypot="bot-field">
    <ol class="questions">
      <li class="question">
        {{ label("What’s your name?", "name") }}
        {{ field( "text", "name", { required: true, placeholder: "Katherine Johnson", autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        <div class="question__addendum">
          {{ confirm("Please keep my full name private", "privacy") }}
        </div>
      </li>
      <li class="question">
        {{ label("Where can we email you?", "email") }}
        {{ field( "email", "email", { required: true, placeholder: "katherine@johnson.tld", autocomplete: "email", description: "We will only use your email address to contact you if you are selected to participate in an event and we will not retain your email address beyond that period of time." } ) }}
      </li>
      <li class="question">
        {% set upcoming_events = events | future_events | sort(attribute="start_date") | toString( " - ", ["title", "location"]) %}
        {{ label("What event are you interested in participating in?", "events") }}
        {{ select( "events", upcoming_events, { required: true, options: ["I’m not interested in participating in an event"] } ) }}
      </li>
      <li class="question">
        {{ label("What do you want?", "title") }}
        {{ field( "text", "title", { required: true, placeholder: "I want…", autocapitalize: "sentences", spellcheck: "true" } ) }}
      </li>
      <li class="question">
        {{ label("Now go into a little more detail. How is lack of this impacting your work? How do you currently work around this limitation?", "detail") }}
        {{ textarea( "detail", { required: true, autocapitalize: "sentences", spellcheck: "true", description: "Please note that we may end up rewriting your problem before posting it to this site." } ) }}
      </li>
      <li hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </li>
    </ol>
    {{ button("Send it in") }}
    <p><em>You can ask us to remove your personal information from this site or our form submission database at any time. We can also retroactively remove your full name from any submissions. Just <a href="/contact/">drop us a line</a>.</em></p>
  </form>
</section>