---
layout: false
permalink: /wants/feed.json
eleventyExcludeFromCollections: true
---
{# set feed %}{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "Wants ↬ {{ pkg.title }}",
  "home_page_url": "https://example.org/",
  "feed_url": "https://example.org/feed.json",
  "posts": [
    {% for item in collections.wants %}
      {
        "title": "{{ item.data.title }}",
        "url": "{{ item.url }}",
        "content_text": "{{ item.data.content }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}{% endset #}
{
  "foo": "bar"
}