---
pagination:
  data: collections.tags
  size: 1
  alias: tag
layout: layouts/base.njk
renderData:
  title: Wants Tagged “{{ tag | unslug | fixNames }}”
permalink: /wants/tagged/{{ tag }}/
---
{% from "macros.njk" import paginate %}

<h1>Tagged “{{ tag | unslug | fixNames }}”</h1>

{% set wants = collections[ tag ] %}
{% include "components/wants.njk" %}

{# {{ paginate( "Tag", pagination ) }} #}
