---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title | widont  }}</h1>

{{ content | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
