---
layout: layouts/base.njk
---
<h1>{{ title | widont  }}</h1>

{{ layoutContent | safe }}

<table>
    <thead>
        <tr>
            <th class="dashboard-id">ID</th>
            <th class="dashboard-title">Title</th>
            <th class="dashboard-votes">Votes</th>
            <th class="dashboard-tags">Tags</th>
        </tr>
    </thead>
{% for w in collections.wantsSortedByVotes %}
    {% set url %}{{ 'https://webwewant.fyi/wants/' }}{{ w.url | extractID }}{{ '/' }}{% endset %}
    <tr>
        <td class="dashboard-id">
            <!-- ID -->
            <a href="{{url}}">{{ w.url | extractID }}</a>
        </td>
        <td class="dashboard-title">
            <!-- Title -->
            {{ w.data.title }}
        </td>
        <td class="dashboard-votes">
            <!-- Votes -->
            {{ webmentions.children | votesForWant( url ) }}<br/>
        </td>
        <td class="dashboard-tags">
            <!-- Tags -->
            {{ w.data.tags }}
        </td>
    </tr>
{% endfor %}
</table>