---
layout: layouts/base.njk
section: events
---

<h1>{{ title | widont  }}</h1>

{{ layoutContent | safe }}

{% from "macros.njk" import event %}

{% set upcoming_events = collections.upcoming_events %}
{% if upcoming_events.length > 0 %}
  <section id="upcoming">
    <h2>Upcoming Events</h2>
    <ul class="events">
      {% for e in upcoming_events %}
        {% set data = e.data %}
        {{ event( 'li', data.title, data.url, data.start_date, data.end_date, data.zone, data.location ) }}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% set past_events = collections.past_events %}
{% if past_events.length > 0 %}
  <section id="past">
    <h2>Past Events</h2>
    <ul class="events">
      {% for e in past_events %}
        {% set data = e.data %}
        {{ event( 'li', data.title, data.url, data.start_date, data.end_date, data.zone, data.location, e.url ) }}
      {% endfor %}
    </ul>
  </section>
{% endif %}