---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

{% from "macros.njk" import event %}

{% set upcoming_events = collections.upcoming_events | limit(3) %}
{% if upcoming_events.length > 0 %}
  <section id="upcoming">
    <h2>Upcoming Events</h2>
    
    <ul class="events">
    {% for e in upcoming_events %}
      {% set data = e.data %}
      {{ event( 'li', data.title, data.url, data.start_date, data.end_date, data.zone, data.location ) }}
    {% endfor %}
    </ul>
  </section>
{% endif %}

{% include 'components/submit.njk' %}