---
layout: layouts/base.njk
section: problems
---

<h1 class="problem__title">{{ title | widont }}</h1>
<p>
  <small>
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ submitter }}
  </small>
</p>

{{ layoutContent | safe }}

<p><b>Tagged:</b> {{ tags | join(", ") }}</p>

<hr>

<p><a href="/problems/">← Return to problem list</a></p>