---
layout: layouts/base.njk
section: wants
body_class: "h-entry"
javascript:
  head:
    - /static/js/indieconfig.js
    - /static/js/webaction.js
  body:
    - /static/js/sharing.js
---

{% from "macros.njk" import event %}

{% set absoluteUrl %}{{ metadata.url }}{{ page.url | url }}{% endset %}
{% set id %}{{ page.url | extractID }}{% endset %}
{% set eventData = collections.event_pitches %}
{% set url_title %}{{ title | urlencode }}{% endset %}

<h1 class="want__title p-name">{{ title | markdownify | widont | safe }}</h1>
<p><small>Submitted by <b class="p-author h-card">{{ submitter }}</b></small></p>
<p hidden><small>Permalink <b class="u-url">{{ absoluteUrl }}</b></small></p>

{% if status %}
  <p class="want__status want__status--{{ status }}">
    {% if status=="complete" %}
      A solution for this has landed in the web platform. See <a href="#related">the related links</a> for more detail.
    {% elif status=="in-progress" %}
      A solution for this is currently in development. See <a href="#related">the related links</a> for more detail.
    {% else %}
      This idea is currently <a href="discuss">being discussed</a>.
    {% endif %}
  </p> 
{% endif %}

{% if eventData[id] %}
  {% if eventData[id].judges_pick.length > 0 %}
    <p class="want__award want__award--judges"><a href="#events">{% include "assets/svg/judges-pick.svg" %}Judges’ Pick</a></p>
  {% endif %}
  {% if eventData[id].community_pick.length > 0 %}
    <p class="want__award want__award--community"><a href="#events">{% include "assets/svg/community-pick.svg" %}Community Pick</a></p>
  {% endif %}
{% endif %}

<div class="e-content">
  {{ content | safe }}
</div>

{% if related %}
  <dl class="want__related" id="related">
    <dt>Related Links</dt>
    <dd>
      <ul>
        {% for link in related %}
          <li class="related__link related__link--{{ link.type }}">
            <a href="{{ link.url }}" rel="external bookmark">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </dd>
  </dl> 
{% endif %}

<dl class="want__tags">
  <dt>Tagged</dt>
  <dd>
  {% for tag in tags %}
    <a href="/wants/tagged/{{ tag }}" class="p-category">{{ tag | unslug | fixNames }}</a>
  {% endfor %}
  </dd>
</dl>

<dl class="want__votes">
    <dt>Votes</dt>
    <dd>{{ webmentions.children | votesForWant( absoluteUrl ) }}
      <br>
      <small><a href="/voting">What are votes for and how are they tallied?</a></small>
    </dd>
  </dl>

{% if ( eventData[id] ) and ( eventData[id].pitched.length > 0 ) %}
<dl class="want__presented_at" id="events">
  <dt>This was presented at</dt>
  <dd>
    <ul class="events">
      {% for e in eventData[id].pitched %}
        {{ event( 'li', e.title, e.url, e.start_date, e.end_date, e.zone, e.location, e.page ) }}
      {% endfor %}
    </ul>
  </dd>
</dl>
{% endif %}

<aside class="want__interact">

  {% if discussion %}
    <dl class="want__discuss" id="discuss">
      <dt>What do you think about this?</dt>
      <dd><a class="button button--discuss u-syndication" rel="external" href="{{ discussion }}">Join the discussion</a></dd>
    </dl> 
  {% endif %}

  <dl class="want__share">
    <dt>Do you want this too? Share it!</dt>
    <script>
      var $share = document.querySelector('.want__share');
      if ( "share" in navigator ) {
        var url = '{{ absoluteUrl }}';
        var title = "{{ title }}";
        var $button = document.createElement('button');
        $button.className = 'button--share';
        $button.innerText = "Share this want";
        $button.addEventListener("click", function() {
          navigator.share({
            title,
            url
          });
        });
        $share.appendChild($button);
      } else {
        $share.parentNode.removeChild($share);
      }
    </script>
  </dl>

</aside>

<div class="pagination">
  <p><a href="/wants/">← See other wants</a></p>
</div>