---
layout: layouts/base.njk
section: wants
permalink: "/wants/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% else %}index{% endif %}.html"
pagination:
  data: collections.wants
  size: 10
  alias: wants
---
{% from "macros.njk" import paginate %}

<h1>{{ title | widont }}</h1>

{{ layoutContent | safe }}

{% if wants.length > 0 %}
  {% include "components/wants.njk" %}
  {{ paginate( "Page", pagination ) }}
{% else %}
  <p>No one has submitted a want yet. <a href="/#submit">Wanna be the first?</a></p>
{% endif %}