---
layout: layouts/base.njk
section: problems
---

<h1 class="problem__title">{{ title | markdownify | widont | safe }}</h1>
<p>
  <small>
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ submitter }}
  </small>
</p>

{{ layoutContent | safe }}

<dl class="tags">
  <dt>Tagged</dt>
  <dd>
  {% for tag in tags %}
    <a href="/wants/tagged/{{ tag }}">{{ tag | unslug | fixNames }}</a>
  {% endfor %}
  </dd>
</dl>

<div class="pagination">
  <p><a href="/wants/">← See other wants</a></p>
</div>